*{
    text-align: center;
}
.card{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.row{
    margin-left:32%;
}
.heading{
    color:greenyellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: purple;
}